<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="imgs/logo-black.png" type="image/x-icon">
  <!-- Main CSS File -->
  <link href="/css/output.css" rel="stylesheet" />
  <!-- Google Fonts - Montserrat -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <base href="http://localhost:3000/">
</head>

<body class="font-montserrat">
  <!-- Start Header -->
  <div class="header">
    <div class="mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
      <div class="flex my-3">
        <a href="/" class="header-logo flex items-center gap-2">
          <img src="imgs/logo-black.png" width="40" alt="website logo" />
          <span class="font-bold text-xl">BLOG</span>
        </a>
      </div>
    </div>
  </div>
  <!-- End Header -->
</body>

</html>