<div class="landing">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="carousel overflow-hidden">
      <div class="carousel-inner flex transition delay-500 ease">
        <div
          class="carousel-item basis-full flex-grow-0 flex-shrink-0 flex flex-col justify-end h-landing-height bg-landing-image-1 bg-cover bg-center rounded-3xl text-white">
          <div class="landing-content p-10 rounded-b-3xl bg-gradient-to-b from-transparent to-neutral-900">
            <h5 class="pb-4 font-medium">Featured</h5>
            <div class="pb-4 flex flex-col md:flex-row md:gap-20 lg:gap-24">
              <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold">Breaking Into Product Design: Advice from Untitled
                Founder, Frankier</h1>
              <a class="carousel-control next self-end md:self-auto">
                <i class="fa-solid fa-arrow-right text-3xl md:text-5xl lg:text-7xl"></i>
              </a>
            </div>
            <p class="w-3/4 text-justify hidden md:block">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Labore, quae!
              Aut, aliquam
              magnam.
              Corporis natus
              ab beatae officia facilis ducimus voluptate et quos, a sapiente fuga, esse nihil rerum quasi!</p>
          </div>
        </div>
        <div
          class="carousel-item basis-full flex-grow-0 flex-shrink-0 flex flex-col justify-end h-landing-height bg-landing-image-2 bg-cover bg-center rounded-3xl text-white">
          <div class="landing-content p-10 rounded-b-3xl bg-gradient-to-b from-transparent to-neutral-900">
            <h5 class="pb-4 font-medium">Featured</h5>
            <div class="pb-4 flex flex-col md:flex-row md:gap-20 lg:gap-24">
              <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold">Breaking Into Product Design: Advice from Untitled
                Founder, Frankier</h1>
              <a class="carousel-control next self-end md:self-auto">
                <i class="fa-solid fa-arrow-right text-3xl md:text-5xl lg:text-7xl"></i>
              </a>
            </div>
            <p class="w-3/4 text-justify hidden md:block">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Labore, quae! Aut, aliquam
              magnam.
              Corporis natus
              ab beatae officia facilis ducimus voluptate et quos, a sapiente fuga, esse nihil rerum quasi!</p>
          </div>
        </div>
        <div
          class="carousel-item basis-full flex-grow-0 flex-shrink-0 flex flex-col justify-end h-landing-height bg-landing-image-3 bg-cover bg-center rounded-3xl text-white">
          <div class="landing-content p-10 rounded-b-3xl bg-gradient-to-b from-transparent to-neutral-900">
            <h5 class="pb-4 flex flex-col md:flex-row md:gap-20 lg:gap-24">Featured</h5>
            <div class="pb-4 flex gap-24">
              <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold">Breaking Into Product Design: Advice from Untitled
                Founder, Frankier</h1>
              <a class="carousel-control next self-end md:self-auto">
                <i class="fa-solid fa-arrow-right text-3xl md:text-5xl lg:text-7xl"></i>
              </a>
            </div>
            <p class="w-3/4 text-justify hidden md:block">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Labore, quae! Aut, aliquam
              magnam.
              Corporis natus
              ab beatae officia facilis ducimus voluptate et quos, a sapiente fuga, esse nihil rerum quasi!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>