<%- include("partials/header.ejs") %>

  <div class="px-4 sm:px-6 lg:px-20 mt-8 mb-16">
    <div class="flex flex-col lg:flex-row gap-8">
      <%- include("partials/post/post.ejs") %>

        <%- include("partials/post/related-posts.ejs") %>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>